<navbar>
    <button>
        <%= link_to 'Home', welcome_index_path %>
    </button>
    <button>
        <%= link_to 'Blog', articles_path %>
    </button>
    <button>
        <%= link_to 'Write an article', new_article_path %>
    </button>
</navbar>